### Step 1: Create a DataFrame from the list of dictionaries below:

In [1]:
data = [{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

In [2]:
import pandas as pd

#create dataframe
df = pd.DataFrame(data)

C:\Users\Owner\AppData\Local\Temp\ipykernel_15984\2054121979.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

### Step 2:  Calculate the Total Profit for each product using the formula

In [5]:
net_revenue_per_product = (df['retail_price'] - df['wholesale_price']) * df['sales']
net_revenue_per_product

0    50000.0
1    40000.0
2    20000.0
3      100.0
4      600.0
dtype: float64