### Step 1: Create a DataFrame from the list of dictionaries below:

In [1]:
data = [{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

In [2]:
import pandas as pd

#create dataframe
df = pd.DataFrame(data)

C:\Users\Owner\AppData\Local\Temp\ipykernel_15984\2054121979.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

### Step 2:  Calculate the Total Profit for each product using the formula

In [5]:
net_revenue_per_product = (df['retail_price'] - df['wholesale_price']) * df['sales']
net_revenue_per_product

0    50000.0
1    40000.0
2    20000.0
3      100.0
4      600.0
dtype: float64

### Step 3: Determine the following

- How much total net revenue you received from all of these sales?

- What product is product retail price more than twice the wholesale price?

- How much did the store make from food vs. computers vs. books?

- Because your store is doing so well, youâ€™re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

- Our local government is thinking about imposing a
sales tax, and is thinking about 15, 20, and 25 percent rates. 

- Show how much less you would net with each of these tax amounts by adding columns to the data frame for current income, as well.

In [8]:
#How much total net revenue you received from all of these sales?
total_net_revenue = net_revenue_per_product.sum()
total_net_revenue

110700.0

In [15]:
#What product is product retail price more than twice the wholesale price?
df['retail_price'] - df['wholesale_price'] > df['wholesale_price']

0    False
1     True
2     True
3    False
4    False
dtype: bool