### Step 1: Create a DataFrame from the list of dictionaries below:

In [1]:
data = [{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

In [2]:
import pandas as pd

#create dataframe
df = pd.DataFrame(data)

C:\Users\Owner\AppData\Local\Temp\ipykernel_15984\2054121979.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

### Step 2:  Calculate the Total Profit for each product using the formula

In [23]:
df['net_revenue_per_product'] = (df['retail_price'] - df['wholesale_price']) * df['sales']
df['net_revenue_per_product']

0    50000.0
1    40000.0
2    20000.0
3      100.0
4      600.0
Name: net_revenue_per_product, dtype: float64

### Step 3: Determine the following

- How much total net revenue you received from all of these sales?

- What product is product retail price more than twice the wholesale price?

- How much did the store make from food vs. computers vs. books?

- Because your store is doing so well, youâ€™re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

- Our local government is thinking about imposing a
sales tax, and is thinking about 15, 20, and 25 percent rates. 

- Show how much less you would net with each of these tax amounts by adding columns to the data frame for current income, as well.

In [41]:
#How much total net revenue you received from all of these sales?
total_net_revenue = df['net_revenue_per_product'].sum()
total_net_revenue

110700.0

In [25]:
#What product is product retail price more than twice the wholesale price?
df['retail_price'] - df['wholesale_price'] > df['wholesale_price']

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [16]:
#How much did the store make from food vs. computers vs. books

df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [28]:
categories = {
    'computer': 'Computers',
    'Python Workout': 'Books',
    'Pandas Workout': 'Books',
    'banana': 'Food',
    'sandwich': 'Food'
}

df['category'] = df['name'].map(categories)

In [29]:
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,category
0,23,computer,500.0,1000,100,50000.0,Computers
1,96,Python Workout,35.0,75,1000,40000.0,Books
2,97,Pandas Workout,35.0,75,500,20000.0,Books
3,15,banana,0.5,1,200,100.0,Food
4,87,sandwich,3.0,5,300,600.0,Food

In [31]:
df.groupby('category')['net_revenue_per_product'].sum()

category
Books        60000.0
Computers    50000.0
Food           700.0
Name: net_revenue_per_product, dtype: float64

In [47]:
#Because your store is doing so well, youâ€™re able to negotiate a 30% discount on the wholesale price of goods. 
# Calculate the new net revenue

df['discount_wholesale_price(30%)'] = df['wholesale_price'] - (0.3 * df['wholesale_price'])

df['new_net_revenue'] = (df['retail_price'] - df['discount_wholesale_price(30%)']) * df['sales']
df['new_net_revenue'].sum()

141750.0

In [50]:
#Our local government is thinking about imposing a sales tax, and is thinking about 15, 20, and 25 percent rates. 
df['sales_tax(15%)'] = df['new_net_revenue'] - 0.15 * df['new_net_revenue']
df['sales_tax(20%)'] = df['new_net_revenue'] - 0.20 * df['new_net_revenue']
df['sales_tax(25%)'] = df['new_net_revenue'] - 0.25 * df['new_net_revenue']
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,category,discount_wholesale_price(30%),sales_tax(15%),new_net_revenue,sales_tax(20%),sales_tax(25%)
0,23,computer,500.0,1000,100,50000.0,Computers,350.00,55250.0,65000.0,52000.0,48750.0
1,96,Python Workout,35.0,75,1000,40000.0,Books,24.50,42925.0,50500.0,40400.0,37875.0
2,97,Pandas Workout,35.0,75,500,20000.0,Books,24.50,21462.5,25250.0,20200.0,18937.5
3,15,banana,0.5,1,200,100.0,Food,0.35,110.5,130.0,104.0,97.5
4,87,sandwich,3.0,5,300,600.0,Food,2.10,739.5,870.0,696.0,652.5

#### Show how much less you would net with each of these tax amounts by adding columns to the data frame for current income, as well.

In [51]:
#net revenue without sales tax
print(f"Net revenue: {df['new_net_revenue'].sum()}")

#net revenue with 15% sales tax
print(f"Revenue after 15% sales tax: {df['sales_tax(15%)'].sum()}")

#net revenue with 20% sales tax
print(f"Revenue after 20% sales tax: {df['sales_tax(20%)'].sum()}")

#net revenue with 25% sales tax
print(f"Revenue after 25% sales tax: {df['sales_tax(25%)'].sum()}")

Net revenue: 141750.0
Revenue after 15% sales tax: 120487.5
Revenue after 20% sales tax: 113400.0
Revenue after 25% sales tax: 106312.5