### Telco Churn Data Set

About Dataset

A telecommunications company has collected data on their customers. They want you to analyze this data and provide answers to the questions below.

Note: Churn is the measure of how many customers stop using a product. This can be 
measured based on actual usage or failure to renew a subscription. Companies with high 
churn rates lose a large number of subscribers, resulting in little growth, which 
significantly impacts revenues and profits.

### Questions
1. Engineer a column that calculates a total charge of a customer. Total   charge referring to their day, evening , and international call charges?

2. Which customer receive the highest number of voicemail?
    • Which state do they live in?

3. How many customers have an international plan with an international charge greater than $3.7

4. How many customers churned?

5. Compare the minutes of calls made in the day versus the night and present the time of day with the most calls measured in hours

6. How many customers in Arizona (AZ) state churned?

7. How many customers in New Jersey had  voice mail and international plan?

8. How much did the company make from customers those who churned before they churned.

9. Which customer spent the most on evening calls?
     • How many hours did they spend?
     • Which state do they live in?
10. How many customers in Tennessee (TN) never called customer service for assistance?

In [3]:
import pandas as pd
import numpy as np

#upload dataset

df = pd.read_csv("data/telco_churn.csv")

In [4]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False