You have been given a dataset containing information about sales transactions for the month of September and October. Your task is to perform data analysis to answer the following questions and provide insights to improve business decisions.



1. What is the total sales for each month?
2. What is the average daily sales for each month?
3. What Region generated the highest sales?
4. Which product category had the lowest impact?
5. Identify the top selling products
6. Based on your analysis what recommendation would to give to improve sales in November.
Sales.csv

In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

sales_df = pd.read_csv("data/sales_week5.csv")

In [6]:
sales_df.head()

         Date Region     Category  Sales($) ProductID
0  01/09/2023   East  Electronics   1200.50     E1234
1  02/09/2023   West      Apparel    350.75     A4567
2  03/09/2023  North    Furniture    890.20     F7890
3  04/09/2023  South  Electronics    550.40     E2345
4  05/09/2023   East   Appliances    420.60     A6789

In [7]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       61 non-null     object
 1   Region     61 non-null     object
 2   Category   61 non-null     object
 3   Sales($)   61 non-null     float64
 4   ProductID  61 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.5+ KB

In [16]:
#convert Date column to DateTime data type

sales_df['Date'] = pd.to_datetime(sales_df['Date'], dayfirst=True)

### 1. What is the total sales for each month?

In [31]:
#create a new column called Month
sales_df['Month'] = sales_df['Date'].dt.to_period('M')

In [32]:
sales_df.groupby('Month')['Sales($)'].sum()

Month
2023-09    17924.40
2023-10    17354.65
Freq: M, Name: Sales($), dtype: float64

### 2. What is the average daily sales for each month?

In [33]:
sales_df.groupby('Month')['Sales($)'].mean()

Month
2023-09    597.480000
2023-10    559.827419
Freq: M, Name: Sales($), dtype: float64

### 3. What Region generated the highest sales?

In [35]:
sales_df.groupby(['Region', 'Month'])['Sales($)'].max()

Region  Month
East    2023-09    1200.50
        2023-10     440.60
North   2023-09    1100.20
        2023-10     970.90
South   2023-09     750.30
        2023-10     730.40
West    2023-09     420.75
        2023-10     430.75
Name: Sales($), dtype: float64

### 4. Which product category had the lowest impact?

In [36]:
sales_df.groupby(['Category', 'Month'])['Sales($)'].min()

Category     Month
Apparel      2023-09    280.25
             2023-10    320.25
Appliances   2023-09    320.60
             2023-10    350.50
Electronics  2023-09    550.40
             2023-10    600.40
Furniture    2023-09    850.20
             2023-10    800.20
Name: Sales($), dtype: float64

### 5. Identify the top selling products

In [46]:
sales_df.groupby('ProductID')['Sales($)'].sum().sort_values(ascending=False).head(5)

ProductID
F5678    3642.2
E2345    2621.4
A6789    2413.5
F1236    1841.8
A1234    1742.0
Name: Sales($), dtype: float64

### Based on your analysis what recommendation would to give to improve sales in November.

#### Recommendation: Stock more electronics to the East and North region