### Data from twitter to analysis which tweets contain hateful or harsh message

Hate Speech Detection is generally a task of sentiment classification. So for training, a model that can classify hate speech from a certain piece of text can be achieved by training it on a data that is generally used to classify sentiments. So for the task of hate speech detection model, I will use the Twitter data.
The data set I will use for the hate speech detection model consists of a test and train set. The training package includes a list of 31,962 tweets, a corresponding ID and a tag 0 or 1 for each tweet. The particular sentiment we need to detect in this dataset is whether or not the tweet is based on hate speech.

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [3]:
train_data = pd.read_csv("data/train.csv")
test_data = pd.read_csv("data/test.csv")

In [4]:
train_data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
#extract right message from tweet with regular expressions

def clean_text(text):
    #convert to lowercase
    text = text.lower()
    #remove urls
    text = re.sub(r"http\S+|www\S+|https\S+", "", text)
    #remove special characters eg emojis
    text = re.sub(r"[^A-Za-z\s]", "", text)
    #remove usernames 
    text = re.sub(r"@[\w]+", "", text)
    return text

In [ ]:
#overwrite tweet column with clean tweet
train_data["tweet"] = train_data["tweet"].apply(clean_text)
train_data["tweet"]

0         user when a father is dysfunctional and is so...
1        user user thanks for lyft credit i cant use ca...
2                                      bihday your majesty
3        model   i love u take with u all the time in u...
4                     factsguide society now    motivation
                               ...
31957                             ate user isz that youuu
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    user sikh temple vandalised in in calgary wso ...
31961                      thank you user for you follow
Name: tweet, Length: 31962, dtype: object

In [12]:
train_data.head()

   id  label                                              tweet
0   1      0   user when a father is dysfunctional and is so...
1   2      0  user user thanks for lyft credit i cant use ca...
2   3      0                                bihday your majesty
3   4      0  model   i love u take with u all the time in u...
4   5      0               factsguide society now    motivation

In [13]:
test_data["tweet"] = test_data["tweet"].apply(clean_text)
test_data.head()

      id                                              tweet
0  31963  studiolife aislife requires passion dedication...
1  31964   user white supremacists want everyone to see ...
2  31965  safe ways to heal your acne    altwaystoheal h...
3  31966  is the hp and the cursed child book up for res...
4  31967    rd bihday to my amazing hilarious nephew eli...

In [ ]:
X = train_data[""]

In [18]:
# Initialize TfidfVectorizer
vectorizer = TfidfVectorizer()

# Transform the 'tweet' column
tfidf_matrix = vectorizer.fit_transform(train_data['tweet'])
print(tfidf_matrix)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 358639 stored elements and shape (31962, 39744)>
  Coords	Values
  (0, 36905)	0.07384154882116929
  (0, 38274)	0.1529115658867543
  (0, 11791)	0.22089089303118026
  (0, 17763)	0.22354755854034217
  (0, 10200)	0.3831058148100799
  (0, 1265)	0.10653356684771656
  (0, 32132)	0.13809337382160308
  (0, 30812)	0.32536874006080596
  (0, 15429)	0.1884908239175851
  (0, 9877)	0.35023474468704946
  (0, 15876)	0.3754184460646087
  (0, 18936)	0.21917774762306041
  (0, 17606)	0.21772073268784015
  (0, 10199)	0.3685601345609686
  (0, 29961)	0.24276566068528868
  (1, 36905)	0.1310764387285603
  (1, 34675)	0.1805935527183264
  (1, 12740)	0.09609757583617878
  (1, 20992)	0.3050464358003797
  (1, 7747)	0.27381673672632856
  (1, 5369)	0.14921776743480208
  (1, 36896)	0.21074145675482372
  (1, 5669)	0.22548758500162694
  (1, 35024)	0.15721964334141927
  (1, 9699)	0.15328257439862658
  :	:
  (31958, 6212)	0.3005799673880711
  (31959, 17763)	0.14350527525119106
  (31959, 35450)	0.2193433108928763
  (31959, 30079)	0.49706029875561547
  (31959, 25088)	0.1630796212475293
  (31959, 22688)	0.2891812914499078
  (31959, 22847)	0.2440765994978952
  (31959, 38862)	0.23592746106519713
  (31959, 32335)	0.36562725474947083
  (31959, 20199)	0.3505563643531803
  (31959, 25462)	0.4496630047496177
  (31960, 36905)	0.09434341964216096
  (31960, 17061)	0.2769709104676944
  (31960, 34516)	0.35961534557542757
  (31960, 31524)	0.36851436621436406
  (31960, 37015)	0.37018125465455975
  (31960, 5197)	0.3638492194767842
  (31960, 39063)	0.37018125465455975
  (31960, 7102)	0.37018125465455975
  (31960, 235)	0.32522555348323046
  (31961, 36905)	0.19215863662225954
  (31961, 12740)	0.2817589390511988
  (31961, 39447)	0.5676958253190559
  (31961, 34664)	0.5295018877494477
  (31961, 12646)	0.5301284367219934