# Working with Databases in Python

## Reading from the Database

For this lesson, we will be using the MySQL Database from your Data Query and Dashboarding Module


```{python}
# !pip install sqlalchemy
# !pip install MySQLdb
import sqlalchemy as sa

# Import pandas
import pandas as pd

HOST_AND_PORT = "20.218.241.192:3306"
DB_NAME = "sakila"
USERNAME = "dapLearner"
PASSWORD = "$qlQu3ry&B!gData"

# Create the DB engine connector
db_cnx = sa.create_engine(f'mysql://{USERNAME}:{PASSWORD}@{HOST_AND_PORT}/{DB_NAME}')

# Read the Customer Table
db_query = '''
        SELECT *
        FROM customer
        '''
cust_df = pd.read_sql(db_query, db_cnx)
```

## Working with Environment Variables in Jupyter Lab

The dotenv library in Python is used to read environment variables from a .env file and make them available in the environment of your Python application. This is particularly useful for managing configuration values and sensitive information such as API keys, database credentials, and other settings that you don't want to hard-code into your application's source code.

In [17]:
# installing the dotenv library
%pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (1.0.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

When working with environment variables, the os library is used to access these variables within your Python code.
The dotenv library helps load environment variables from a .env file into the environment, but the os library is required to actually fetch and use these variables in your application.

SQLAlchemy is a powerful SQL toolkit and Object-Relational Mapping (ORM) library for Python. It provides a comprehensive set of tools for working with databases in a more Pythonic way, abstracting much of the complexity involved in interacting with relational databases.

In [18]:
# installing sqlalchemy
%pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (2.0.36)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)

The mysqlclient package is a Python interface to MySQL databases, providing the necessary functionality for connecting and interacting with MySQL servers.

In [19]:
# install mysqlclient package
%pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\owner\appdata\local\programs\python\python312\lib\site-packages (2.2.5)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import sqlalchemy as sa 
from dotenv import load_dotenv
import os

load_dotenv(r"C:\Users\Owner\Downloads\Scalework\scalework_repo\data_external.txt")

USER = os.getenv("USER")
PASSWORD = os.getenv("PASSWORD")
HOST_AND_PORT = os.getenv("HOST_AND_PORT")
DB_NAME = os.getenv("DB_NAME")

HOST_AND_PORT

'20.218.241.192:3306'

In [24]:
%pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ------------------------------------ --- 41.0/45.0 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
import pandas as pd
db_cnx = sa.create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST_AND_PORT}/{DB_NAME}")


db_query = '''SHOW TABLES'''
df = pd.read_sql(db_query, db_cnx)
df

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store

### Exercises

1. Select the title, rating and rental duration from the film table
2. Filter the above result in SQL for where `rating = 'G' AND rental_duration >= 7`



> Please perform the above exercise in Python

### Exercise

Please repeat the DB Query above using the `.merge` method.

This means, load the two tables in and use the merge method to build your combined dataset.

# Working with Time Series Data 

In this lesson, we will explore working with time-series data.

## Slicing Timeseries

When working with timeseries data always set the datetime as index of the dataframe

> Because the index is a time series, we can leverage the ability to resample. A common operation
these days is to plot rolling 7-day average data on top of daily data. The .rolling method accepts
a moving window size, window, and like a grouping operation, you generally aggregate the result.